#footer-social { vertical-align: middle; margin-top: 10px; margin-bottom: 10px}
.social-row li{ margin: 0 5px; width: 60px; height: 60px; padding: 15px 0px 0px 0px; text-align: center; background: #999; vertical-align: middle}
.social-row  li i { font-size: 34px; color: #fff; vertical-align: middle}
.social-row  li:hover {    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */}


#footer-info {text-align: center;}
#footer-info li, #footer-info li a {text-align: center; font-size: 12px; color: $lt_gray; text-transform: uppercase; letter-spacing: 2px;
margin: 0 5px; border-right: 1px solid $lt_gray}


.privacy-info {font-size: 10px; color: $lt_gray; }
.privacy-info a {font-weight: normal;; color: $md_gray}

